
.nav-header a{
  display: inline-block;
  margin: 40px;
  margin-top: 0px;
  vertical-align: middle;
  text-decoration: none;
  height: 40px;
  text-align: center;
  color: #fff!important
}
.nav-header a:hover{
  background: #fff!important;
  color: black!important
}

.nav-header{
  background: #8a8282;
  height: 40px;

}

#counter{
  margin-left: 10%;
}
